.titulo{
    background-color: green;
    color: darkorange;
    border-radius: 30%;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    margin-bottom: 2%;
}

body{
    background: white;
}

.caja{
    border: 2px solid greenyellow;
    width: 23%;
    height: 300px;
    margin-left: 1%;
    float: left; 
    margin-bottom: 5%;

}

.principal{
    border: 2px solid red;
    width: 100%;
    height: 400px;
}
/* caja flotante se comportaran de la manera que les digamos a las cajas internas a la principal */
.secundario{
border: 3px solid blue;
margin:1%;
width: 30%;
height: 390px;
float: left;
}

.tercera{
    border: 2px solid rgb(221, 12, 12);
    width: 100%;
    /* auto para que sirve  */
    height: 99vh;
    display: flex;
}



 /* caja flexible se adecuara de manera automatica sin estar dando medidas de altura nos ayuda hacerlo más rapido */
.cuarta{
    margin: 5px;
    border: 2px solid mediumseagreen;
    width: 30%;
    /* viweport  nos da el total de la pantalla*/
    height: 50vh;
}